@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
    background-color: white;
    color: black;

}

header {
    background-color: black;
    font-style: normal;
}

header > h1 {
    color: white;
    text-align: center;
    font-family: 'Passion One', cursive;
    font-style: bold;
    font-size: 10rem;
    padding-top: 30px;
    padding-bottom: 10px;
}

header > p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

main {
    font-family: 'Sriracha', cursive;
}

a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    text-decoration: none;
}

.impares {
    color: black;
    background-color: white;
}

.pares {
    color: white;
    background-color: black;
}

#imag1 {
    background: black url('imagens/background001.jpg') center center no-repeat fixed;
    background-size: cover;
}

#imag2 {
    background: black url('imagens/background002.jpg') center center no-repeat fixed;
    background-size: cover
}

div {
    background-color: rgba(0, 0, 0, 0.493);
}

div > p {
    width: 30%;
    margin: 0px;
    padding: 0px;
}

footer {
    color: white;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}